body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  margin: 8px;
  border-radius: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gif {
  height: 375px; 
}

#screambutton {
	width: 250px;
	font-size: 18px;
	font-weight: bold;
}

#screambutton:hover {
	background-color: aliceblue;
}