body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  margin: 8px;
  border-radius: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gif {
  height: 320px;
  position: relative;
}

.pics {
  height: 320px;
  width: auto;
  position: absolute;
  padding: 18px;
}

#screambutton {
	width: 200px;
  height: 40px;
	font-size: 22px;
	font-weight: bold;
  display: inline-block;
}

.screambutton {
  width: 200px;
  padding-left: 55px;
  padding-bottom: 12px;
}

#screambutton:hover {
	background-color: aliceblue;
}

.NavBar {
  background-color: #d9edf7;
  color: black;
}

.navbar .navbar-nav>li>a {
  color: #626060;
}

.btn {
  border-width: 1px;
  border-color: #e7e7e7;
  background-color: #d9edf7;
}

.score {
  padding: 6px;
  font-size: 65px;
}

.screambutton {
  display: inline-block;
}

#saveButton {
  width: 150px;
  font-size: medium;
  color: #626060;
  margin-left: 90px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-footer .btn+.btn {
  border-color: #e7e7e7;
  background-color: 888890;
}

.modal-footer .btn+.btn:hover {
  color: #fff;
  background-color: #707077;
  border-color: #adadad;
}

.pageText {
  font-size: 20px;
  text-align: center;
  color: #626060;
}

#afterFreeman {
  margin: 12px;
  margin-top: 6px;
}

#clickPlay {
  margin-top: 35px;
  font-size: 15px;
  align-content: center;
  margin-left: 42px;
  color: #626060;
}
